/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.socialmedia{
    background: #f6f6f6;
    display: flex;
    justify-content: flex-end;
}
.socialmedia li{
    padding-left: 10px;
}
.socialmedia a{
    text-decoration: none;
}
.facebook{
    color: #4460a0;
}
.twitter{
    color: #00aaec;
}
.header nav{
    display: flex;
    justify-content: space-between;
}
.header nav h1 a{
    background-image: url("images/logo.png");
    height: 50px;
    width: 220px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header nav ul{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header nav ul a{
    font-size: 18px;
    padding-left: 30px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    color: #00cc99;
    position: relative;
}
.header nav ul a:after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 25px;
    width: 0%;
}
.header nav ul a:hover:after{
    width: 80%;
    border-bottom: solid 5px #00CC99;
}
.banner{
    background-image: url("images/banner.png");
    height: 346px;
    background-size: cover;
    display: flex;
    align-items: center;
}
.banner h2{
    width: 100%;
    font-size: 32px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: normal;
}
.course{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.course-item{
    border-width: 0 2px 2px 2px;
    border-style: none solid solid solid;
    border-color: transparent #f5f6fa #f5f6fa #f5f6fa;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 10px 10px -10px #718093;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 20px 20px;
}
.course-item img{
    height: 140px;
    max-width: 100%;
}
.course-item p{
    text-align: justify;
    line-height: normal;
}
.course-item h2{
    padding-bottom: 10px;
    font-size: 25px;
    padding-top: 20px;
}
.item3{
    line-height: normal;
}
.compare{
    margin: 30px 100px 30px 100px;

}
table{
    width: 100%;
    text-align: left;
    table-layout: fixed;
}
th{
    border-style: solid none solid none;
    border-width: 1px 0 1px 0;
    border-color: #dddddd transparent #dddddd transparent;
    padding: 10px;
    background: #f7f7f7;
    font-weight: bold;
}
td{
    border-style: solid none solid none;
    border-width: 1px 0 1px 0;
    border-color: #dddddd transparent #dddddd transparent;
    padding: 10px;
    color: #333333;
}
caption{
    padding: 30px;
    font-size: 20px;
}
.color-green{
    color: #00a67d;
}
.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 60px 0px 20px 0px;
    background:linear-gradient(#00644c,#009772);
}
.contactus .title{
    padding: 30px;
    font-size: 20px;
    line-height: normal;
    text-align: center;
    color: white;
}
.form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.contactus textarea{
    resize: none;
    height: 250px;
    border: none;
    border-radius: 5px;
    width: 45%;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}
.info{
    width: 45%;
    display: flex;
    flex-direction: column;
    color: white;
}
.info label{
    margin-bottom: 5px;
}
.info input{
    margin-bottom: 10px;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    width: 12%;
    height: 35px;
    background-color: #00cc99;
    color: white;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
button:hover{
    width: 12%;
    height: 35px;
    background-color: #00cc99;
    color: white;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 10px 10px -10px black;
    cursor: pointer;
}

.footer h1{
    padding-left: 20px;
}
.footer h1 a{
    background-image: url("images/footerLogo.png");
    height: 36px;
    width: 171px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}
.footer ul{
    padding-right: 10px;
}
.footer li{
    padding-bottom: 5px;
    
}
.footer li a{
    text-decoration: none;
    color: #e12d80;
}